/* Small only */
@media screen and (max-width: 39.9375em) {
  .card-height {
	  height: 6rem;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.card-height {
	  height: 10rem;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.card-height {
	  height: 10rem;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
	.card-height {
	  height: 15rem;
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	.card-height {
	  height: 15rem;
	}
}

.card-category {
	border-radius:5px;
	border: 1px solid #E1E1E1;
	margin-bottom:1rem;
	overflow:hidden;
	.img {}
	.title{}
}

.card1 {
	border-radius: 3px;
	border: 1px solid #E1E1E1;
	margin-bottom:1rem;
	overflow:hidden;
	// position: relative;
	overflow: hidden;
	background: #fff;
	@extend .pb-1;
	@extend .ds-half;
	// position: relative;
	.img {
		padding: .5rem .5rem 0rem .5rem;
		transition: all .25s ease-out; 
		width: 100%;
		// background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
		margin-bottom: .5rem;
		overflow: hidden;
		border-radius: 3px;
		// max-height: 12.25rem;
		@extend .pb-1;
		img {
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			transition: all .25s ease-out;
			// height: 12.25rem;
		}
	}

	div.text {
		transition: all 1s ease-out;  
		background-color: #fff;
		width: 100%;
		@extend .pb-half;
		@extend .pl-1;
		@extend .pr-1;
		.title {
			transition: all .25s ease-out;
			color: #323232;
			// padding-left: .5rem;
			padding-right:.5rem;
			margin-bottom: 0rem;
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.category {
			font-size: .9rem;
			// padding-left: .5rem;
			padding-right:.5rem;
			font-weight: normal;
		}
	} 
	.action{
		// display: absolute;
		// width: 100%;
		// height: 100%;
		font-size: 1rem;
		color: #737373;
		padding-left: 1rem;
		padding-right: .5rem;
		// padding-bottom: 1rem;
		margin-bottom: 0;
			a {
				display: inline-block;
				border-radius: 5px;
				font-size: .9rem;
				i{
					transition: all .25s ease-out;
				}
				&:hover {
					color: #FA6900;
					i {
						transition: all .25s ease-out;
						transform: rotateY(360deg);
					}
				}
			}
	}

	&:hover {
		.img {
			img {
				transition: all .25s ease-out;
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				transform: scale(1.1);	
			}
			// background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
		}
		div.text {
			.title {
				transition: all .25s ease-out;
				color: #FA6900;
			}
		}
	}
}

