.card-category {
	border-radius:5px;
	border: 1px solid #E1E1E1;
	margin-bottom:1rem;
	overflow:hidden;
	.img {}
	.title{}
}

.card1 {
	border-radius: 3px;
	border: 1px solid #E1E1E1;
	margin-bottom:1rem;
	overflow:hidden;
	position: relative;
	overflow: hidden;
	@extend .ds-half;
	.img {
		transition: all .25s ease-out;  
		width: 100%;
		height: 15rem;
		background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
		margin-bottom: .5rem;
	}

	div.text {
		transition: all 1s ease-out;  
		position: absolute;
		bottom: -20rem;
		background-color: $content-main-container;
		width: 100%;
		.title {
			color: #FA6900;
			padding-left: .5rem;
			position: relative;
			padding-top:.5rem;
		}

		.description{
			color: #737373;
			padding-left: .5rem;
		}	
	}

	&:hover {
		.img {
			transition: all .25s ease-out;  
			background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
		}
		div.text {
			transition: all .25s ease-out;
			bottom: 0px;
		}
	}
}