.make-center {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top:50%;
	left:50%;
	// margin-bottom: 
	transform: translate(-50%, -50%);
}

.inline {
	display: inline;
}

.inline-block{
	display: inline-block;
}

.block {
	display: block;
}

.cont-h100 {
	height: 100vh;
}

.cont-h80 {
	min-height: 80vh;
}

.cont-h60 {
	min-height: 60vh;
}

.cont-h50 {
	min-height: 50vh;
}

.cont-h40 {
	min-height: 40vh;
}

.cont-h30 {
	min-height: 30vh;
}

.cont-h20 {
	min-height: 20vh;
}


.circle {
	width:3rem;
	height: 3rem;
	border-radius: 100%;
	background-color: #323232;
}

.hero {
	background-image: url(../img/arthur.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}