.custom {
	width: 100%;
	@extend .margin-0;
	text-align: center;
	img { width: 30%; }
}

#styleguide-navigation.columns  { padding: 0px }

.navigation {
		padding-top: .5rem;

	.myName, .menu {
		display: inline-block;
	}
	.myName {
		padding-bottom: 2rem;
		display: inline-block;
		h1, h2, h3, h4, h5, h6 {
			font-family:'Pacifico', cursive;
			color: #fff;
			// line-height: 1;
			text-shadow: 0px 0px 1px #fff;
			// font-size: 3rem;
			text-decoration: underline;
		}
	}

	.menu {
		padding-top: .5rem;
		ul {
			li {
				list-style: none;
				display: inline-block;
				color: #fff;
				padding: 0 1rem;
				a {
					color: #fff;
					text-shadow: 0px 0px 1px #fff;
					font-weight: bold;

				}
			}
		}
	}
}