.blog {
	a {
		div {
			// @extend .ds-1;
			// border-left: 4px solid rgba(#FA6900, .3);
			@extend .pb-2;
			@extend .pt-1;
			@extend .padding-half;
			// @extend .hoverme;
			// border-bottom: 1px solid rgba(#323232, .05);
			border-top: 1px solid rgba(#323232, .05);
			transition: all .75s ease-out;
			h5, h3, h2 {
				color: #FA6900;
				font-weight: bold;
				@extend .pl-1;
			}
			p {
				color: #a5a5a5;
				font-size: .9rem;
				@extend .pl-1;
			}
			&:hover {
				transition: all .25s ease-out;
				// background: linear-gradient(-45deg, rgba(100, 100, 250, 0.1), rgba(250, 100, 100, 0.1));
				background-color: rgba(#E1E1E1, .75)
				// border-left: 4px solid #FA6900;
			}
		}
	}
}

.txt-center {
	text-align: center;
}

.resources {
	ul {
		li {
			list-style: none;
			margin-bottom: 2.5rem;
			a {
				img, span.title {
					display: inline-block;
					transition: all .25s ease-out;
				}
				span {
					padding-left: .5rem;
					font-size: 1rem;
					color: #737373;
					font-weight: bold;
				}
				&:hover {
					span {
						padding-left: 1rem;
						transition: all .25s ease-out;
						color: #FA6900;
					}
				}
			}
		}
	}

	
}